/* Board Manager Style */

.board-manager-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 35px 50px;
	width: 90%;
	-webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
}

.board-manager-box .title-categories {
	font-size: 30px;
	color : var(--color-darkblue);
	text-decoration: underline 2px;
	font-weight: bold;
}

.board-manager-box .group-manager {
	padding: 25px 0 45px 20px;
	width: 100%;
}

.board-manager-box #cat-manager #categories {
	flex-direction: column;
	width: 100%;
}

.category-list-name {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	width: 60%;
	height: 30px;
}

.category-button {
	margin-left: 20px;
	cursor: pointer;
	width: 100px;
	height: 25px;
	border-style: none;
	background-color: var(--color-blue);
	color : var(--color-white);
	border-radius: 5px;
	font-size : 15px;
}

.new-cat {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 17px;
	color : var(--color-darkblue);
}

.input-new-cat {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	width: 60%;
	height: 30px;
}

.create-cat {
	margin-left: 20px;
	cursor: pointer;
	width: 100px;
	height: 25px;
	border-style: none;
	background-color: var(--color-blue);
	color : var(--color-white);
	border-radius: 5px;
	font-size : 15px;
}

.cats-name {
	margin-top: 15px;
	font-size: 25px;
	color : red;
}

.case {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	width: 150px;
	height: 30px;
	margin-top: 20px;
	margin-left: 50px;
}

.case-desc {
	width: 250px;
	height: 70px;
	resize: none;
}

.input-board {
	margin-left: 20px;
	cursor: pointer;
	width: 70px;
	height: 25px;
	border-style: none;
	background-color: var(--color-blue);
	color : var(--color-white);
	border-radius: 5px;
	font-size : 15px;
}

.input-board-delete {
	margin-left: 10px;
}

.input-new-board {
	margin-left: 20px;
	cursor: pointer;
	width: 150px;
	height: 25px;
	border-style: none;
	background-color: var(--color-blue);
	color : var(--color-white);
	border-radius: 5px;
	font-size : 15px;
}

tr td:last-child button:last-child {
	margin-right: 50px;
	margin-top : 20px;
}

#category-menu {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #00000080;
}

#category-menu > div {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}
