/* Board Style */

.title {
    color : var(--color-spacecadet);
    display : flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin-left : 50px;
}

.boardname {
    color : var(--color-blue);
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    width: 1344px;
}

.description-title {
    font-size: 22px;
    color : var(--color-darkblue) ;
    text-decoration: underline 2px;
    font-weight: bold;
}

.description-content {
    font-size: 17px;
    color : var(--color-blue);
    margin-top: 15px;
}

.thread {
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}

/*Thread creator / replier*/

.creator {
	background-color: var(--color-white);
	/*needs border/box shadow etc but that's not my job*/
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.creator textarea {
	resize: none;
	width: 300px;
	height: 150px;
}

.creator-hider {
	position: absolute;
	top: -5px;
	right: -5px;
}


/* Board Manager Style */

.board-manager-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
    box-shadow: 0px 0px 5px 2px #7E7E7E;
}

.title-categories {
    font-size: 30px;
    color : var(--color-darkblue);
    text-decoration: underline 2px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 50px;
}

.category-list-name {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 400px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.category-rename {
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    border-style: none;
    background-color: var(--color-blue);
    color : var(--color-white);
    border-radius: 5px;
    font-size : 15px;
}

.category-delete {
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    border-style: none;
    background-color: var(--color-blue);
    color : var(--color-white);
    border-radius: 5px;
    font-size : 15px;
}

.new-cat {
    margin-top: 35px;
    margin-left: 50px;
    font-size: 17px;
    color : var(--color-darkblue);
}

.input-new-cat {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 400px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.create-cat {
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    border-style: none;
    background-color: var(--color-blue);
    color : var(--color-white);
    border-radius: 5px;
    font-size : 15px;
}

.cats-name {
    margin-top: 15px;
    font-size: 25px;
    color : red;
}

.case {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.input-board {
    margin-left: 20px;
    cursor: pointer;
    width: 70px;
    height: 25px;
    border-style: none;
    background-color: var(--color-blue);
    color : var(--color-white);
    border-radius: 5px;
    font-size : 15px;
}

.input-board-delete {
    margin-left: 10px;
}

.input-new-board {
    margin-left: 20px;
    cursor: pointer;
    width: 150px;
    height: 25px;
    border-style: none;
    background-color: var(--color-blue);
    color : var(--color-white);
    border-radius: 5px;
    font-size : 15px;
}
