/* Board Style */

.title {
	color : var(--color-spacecadet);
	display : flex;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	margin-left : 50px;
}

.boardname {
	color : var(--color-blue);
}

.description {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	width: 1344px;
}

.description-title {
	font-size: 22px;
	color : var(--color-darkblue) ;
	text-decoration: underline 2px;
	font-weight: bold;
}

.description-content {
	font-size: 17px;
	color : var(--color-blue);
	margin-top: 15px;
}

.thread {
	display: flex;
	justify-content: flex-start;
	margin-left: 20%;
}

/*Thread creator / replier*/

.creator {
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: #e8e8f0;
	position: fixed;
	left: calc(50% + 180px);
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
}

.creator-header {
	font-size: 22px;
	color : var(--color-darkblue) ;
	text-decoration: underline 2px;
	font-weight: bold;
}

.creator-title {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	height: 30px;
	margin-top: 20px;
}

.creator textarea {
	resize: none;
	height: 150px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	margin-top: 20px;
}

.creator-file {
	height: 30px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	margin-top: 20px;
}

.creator-submit {
	height: 30px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	margin-top: 20px;
	cursor: pointer;
	color : var(--color-white);
	background-color: var(--color-blue);
}

.creator-hider {
	position: absolute;
	text-decoration: none;
	top: 5px;
	right: 5px;
}

.thread-list {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	width: 1344px;
}

.thread-list-title {
	font-size: 22px;
	color : var(--color-darkblue) ;
	text-decoration: underline 2px;
	font-weight: bold;
}

.thread-row {
	display: flex;
	flex-direction: column;
	color : var(--color-blue);
	font-size: 18px;
	margin-top: 25px;
}

.thread-txt {
	text-decoration: underline;
}

/* Thread Style */

.thread-base{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.op-title {
    font-size: 25px;
	color : var(--color-darkblue) ;
	text-decoration: underline 2px;
	font-weight: bold;
}

.op {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
    margin-top: 25px;
    padding : 25px;
}

.info-row {
	display: flex;
    font-size: 18px;
    color : var(--color-darkblue);
}

.post-id{
    font-weight: bold;
}

.post-text {
    padding-top: 20px;
    padding-bottom: 20px;
    color : var(--color-blue);
}
