@import url('https://fonts.googleapis.com/css?family=josefin+sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	flex-direction: column;
	min-width: 360px;
	width: 360px;
	min-height: 100vh;
	height: 100%;
	background: var(--color-spacecadet);
	color: var(--color-white);
  	padding: 15px 0px;
}
	
.navbar div {
	display: flex;
	flex-direction: column;
}

.navbar .sidebarTitle {
	color: #fff;
	align-items: center;
 	margin-bottom: 15px;
}

.navbar .sidebarTitle h2 {
	font-family: var(--font-heading), monospace;
	font-size: 65px ;
}

.navbar .sidebarCode {
	border-top : solid 2px #ffffff;
	padding-top : 20px;
	padding-left : 10px;
}

.navbar .sidebarCode div {
	padding-left : 10px;	
}

.navbar .sidebarCode p {
	font-size : 22px;
}

.navbar .sidebarCode a {
	font-style : normal;
}

.navbar .sidebarCode .javaFunctionText {
	color : #9d0de6;
	padding-right: 5px;
}

.navbar .sidebarCode .javaTypeText {
	color : #46F7F7;
}

.navbar .sidebarCode .javaConstantText {
	color : #006ce0;
}

.navbar .sidebarCode .javaStringText {
	color : #00aeef;
	font-style : italic;
	position: relative;
}

.navbar .sidebarCode .javaStringText {
	cursor:pointer;
}

.navbar .sidebarCode .javaStringText:after {
	content: '';
  	position: absolute;
  	width: 100%;
  	transform: scaleX(0);
  	height: 2px;
	bottom: 0;
  	left: 0;
  	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.navbar .sidebarCode .javaStringText:hover:after {
	transform: scaleX(1);
  	transform-origin: bottom left;
}

.navbar .sidebarCode .ifstatement {
	padding-bottom : 25px;
}

.navbar .sidebarCode .ifstatement div {
	padding : 5px 0 5px 35px;
}

.navbar .sidebarCode .forloop div {
	padding : 5px 0 5px 35px;
}

.navbar .sidebarCode .forloop .switchcase .switch-case-condition {
	flex-direction: row;
	padding: 0px 0px;
	align-items: center;
}

.navbar .sidebarCode .forloop .switchcase .switch-case-elements {
	display: none;
}

.navbar .sidebarCode .forloop .switchcase .minimise {
	margin-top: 3px;
	padding-left: 5px;
}

.navbar .sidebarCode .forloop .switchcase .dropdown {
	margin-top: 3px;
	padding-left: 5px;
	display: none;
}

.navbar ul li a{
	color: #bdb8d7;
 	display: block;
  	padding: 15px;
}


.navbar ul li:hover{
  	background-color: #594f8d;
}
    
.navbar ul li:hover a{
  	color: #fff;
}
 
