@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*Variable declarations*/
:root {
	--color-white: #F7F7FF;
	--color-cyan: #00AEEF;
	--color-blue: #004FA3;
	--color-darkblue: #03336B;
	--color-spacecadet: #201E50;
	--color-black: #07020D;
	--font-heading: righteous;
}

/* Stuff used everywhere */

* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Nunito Sans', sans-serif;
	text-decoration: none;
}

div {
	display: flex;
}


body {
	background-color: var(--color-white);
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.clickable {
	color: var(--color-darkblue);
	text-decoration: underline;
	cursor: pointer;
}

/* Index Style */
.base {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	overflow: auto;
}

.top {
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.line {
	width: 98%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
}

.base .bloc-subtitle {
	font-size: 27px;
	color : var(--color-darkblue);
	text-decoration: underline 2px;
	font-weight: bold;
	padding-bottom: 15px;
}

.base .bloc {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	width: 90%;
}

.base .desc {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	width: 90%;
}

.base .desc .descriptionbox {
	-webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
	padding: 15px;
}

.base .desc .descriptionbox .text-desc {
	font-size: 20px;
	color : var(--color-blue);
}

.base .menu {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	width: 90%;
}

.base .menu .content-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	-webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
	padding: 10px;
}

.base .menu .content-menu .cat-list {
	padding: 10px 0;
	width: 100%;
	flex-direction: row;
}

.base .menu .content-menu .cat-list .cat-title {
	min-width: 225px;
	width: 225px;
	border-right: 2px solid #7E7E7E;
}

.base .menu .content-menu .cat-list .cat-title .board-cat {
	font-size: 27px;
	color : var(--color-darkblue);
	text-decoration: underline 2px;
	font-weight: bold;
}

.base .menu .content-menu .cat-list .cat-boards {
	justify-content: space-evenly;
	overflow: hidden;
	width:auto;
}

.base .menu .content-menu .cat-list .board-list {
	color : var(--color-blue);
	padding: 2px 20px;
	font-size: 20px;
	width:auto;
}

.base .menu .content-menu .cat-list .board-list:hover {
	text-decoration: underline;
}

.base .stats {
	display: flex;
	flex-direction: column;
}

.base .stats .statsrow {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 20px;
}

.base .stats .statsrow p {
	padding: 10px 0;
}

/* Log-in/Register Style */

.return-button {
	width: 100%;
	padding: 0 10% 30px 10%;
	justify-content: center;
}

.return-button a {
	display: block;
	width: auto;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: var(--color-black);
	border: 2px solid var(--color-black);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
}
  
.return-button a span{
	position: relative;
	z-index: 2;
}
  
.return-button a:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--color-cyan);
	transition: all .35s;
}
  
.return-button a:hover{
	color: var(--color-white);
}
  
.return-button a:hover:after{
	width: 100%;
}

  

.connection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	padding: 35px 50px;
	margin-bottom: 150px;
	-webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
	box-shadow: 0px 0px 5px 2px #7E7E7E;
}

.connection .connectiontitle {
	font-size: 30px;
	color : var(--color-darkblue);
	text-decoration: underline 2px;
	font-weight: bold;
}

.connection #username {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	width: 400px;
	height: 30px;
	margin-top: 20px;
}

.connection #password {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	width: 400px;
	height: 30px;
	margin-top: 20px;
}

.connection #submit {
	margin-top: 20px;
	cursor: pointer;
	width: 400px;
	height: 40px;
	background-color: var(--color-blue);
	color : var(--color-white);
	border-radius: 5px;
	font-size : 20px;
}

.connection #redirect {
	margin-top: 20px;
	text-decoration: underline;
	color : var(--color-darkblue);
	font-size: 20px;
}

.connection .redirect-a:visited {
	color : inherit;
}

.connection .redirect-a:hover {
	color: var(--color-cyan);
}

/* footer */
.foot {
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	padding: 0 1%;
}

.foot .line {
	width: 100%;
}

.foot .footer {
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	padding: 0 10% 30px 10%;
	text-align: center;
}

/* hidden class */
.hidden {
	display: none !important;
}
