@import url('https://fonts.googleapis.com/css?family=josefin+sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	list-style: none;
  	text-decoration: none;
  	font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #F7F7FF;
}

header {
  display: flex;
  position: relative;
}

header .sidebar{
  	width: 350px;
  	height: 100%;
  	background: #201e50;
	color: #f7f7ff;
  	padding: 30px 0px;
  	position: fixed;
}

header .sidebarTitle {
	color: #fff;
  	text-align: center;
 	margin-bottom: 30px;
  	font-family: 'Courier Prime', monospace;
}

header .sidebar .sidebarCode {
	border-top : solid 2px #ffffff;
	padding-top : 20px;
	padding-left : 10px;
}

header .sidebar .sidebarCode div {
	padding : 5px 0 5px 45px;
}

header .sidebar .sidebarCode p {
	font-size : 22px;
}

header .sidebar .sidebarCode i {
	font-style : normal;
}

header .sidebar .sidebarCode .javaFunctionText {
	color : #9d0de6;
}

header .sidebar .sidebarCode .javaTypeText {
	color : #46F7F7;
}

header .sidebar .sidebarCode .javaConstantText {
	color : #006ce0;
}

header .sidebar .sidebarCode .javaStringText {
	color : #00aeef;
	font-style : italic;
}




header .sidebar ul li{
  padding: 15px;
}    

header .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

header .sidebar ul li a .fas{
  width: 25px;
}

header .sidebar ul li:hover{
  background-color: #594f8d;
}
    
header .sidebar ul li:hover a{
  color: #fff;
}
 
header .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

header .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}





header .main_content{
  width: 100%;
  margin-left: 200px;
}

header .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

header .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

header .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
}
}

/*index style*/
.base{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.head{
  color : #201e50;
  display : flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.homelogo{
  width: 150px;
  margin-right: 80px;
  margin-left: 80px;
}

#foreisti{
  font-family: righteous;
  font-size: 55px;
  margin-right: 80px;
  margin-left: 80px;
}

.line{
  width: 1344px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.desc{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  width: 1344px;
}

#what{
  font-size: 22px;
  color : #03336b ;
  text-decoration: underline 2px;
  font-weight: bold;
}

#d{
  font-size: 17px;
  color : #004fa3;
  margin-top: 15px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  margin-right: 15%;
  width: 1344px;
}

#boardtitle{
  font-size: 22px;
  color : #03336b ;
  text-decoration: underline 2px;
  font-weight: bold;
}

.boardtab{
  font-size: 17px;
  color : #004fa3;
  margin-top: 15px;
}

.stats{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  width: 1344px;
}

#statstitle{
  font-size: 22px;
  color : #03336b;
  text-decoration: underline 2px;
  font-weight: bold;
}

.statsrow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.connection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 540px;
  -webkit-box-shadow: 0px 0px 5px 2px #7E7E7E; 
  box-shadow: 0px 0px 5px 2px #7E7E7E;
}

.connectiontitle{
  font-size: 30px;
  color : #03336b;
  text-decoration: underline 2px;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 50px;
}

#username{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

#password{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

#submit{
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
  width: 400px;
  height: 40px;
  background-color: #004fa3;
  color : #f7f7ff;
  border-radius: 5px;
  font-size : 20px;
}

#redirect{
  margin-top: 20px;
  margin-left : 50px;
  text-decoration: underline;
  color : #201e50;
}

a:visited { color: inherit; } 

/* hidden class */
.hidden {
  display: none !important;
}