<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test - navbar</title>
		<link rel="stylesheet" href="style.css">
		<script src="script.js"></script>
	</head>
	<body>
		<header>
			<div class="sidebar">
				<div class="sidebarTitle">
					<h2>For_EISTI</h2>
				</div>
				<div class="sidebarCode">
					<div class="forloop">
						<p><i class="javaFunctionText">for</i>(<i class="javaTypeText">String</i> caca : <i class="javaConstantText">EISTI</i>){</p>
						<div class="switch">
							<p><i class="javaFunctionText">switch</i>(caca){</p>
							<div class="switchcase">
								<p><i class="javaFunctionText">case</i> <i class="javaStringText">"Boards"</i> :</p>
        							<ul id="boardList"></ul>
								<p><i class="javaFunctionText">break</i>;</p>
							</div>
							<p>}</p>
						</div>
						<p>}</p>
					</div>
    				</div>
			</div>
		</header>
	</body>
</html>
